@import url('https://fonts.cdnfonts.com/css/lovelo');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

:root {
    --main-bg-color: #000000;
    --main-fg-color: #00000;
    --contrast-bg-color: #ffffff;
    --contrast-fg-color: #000000;
    --accent-bg-color: #000000;
    --accent-fg-color: #fffffe;

    /* Colores de la Web */
    --naranja: #EDA145;
    --verde-claro: #C2D9B4;
    --verde-medio: #598072;
    --verde-oscuro: #687A61;
    --marron-claro: #CC9D8F;
    --marron-oscuro: #806259;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth; /para que la pantalla no baje bruscamente/
}

body {
    background-color: var(--verde-claro); /color de fondo/
}

section {
    height: 100%;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    text-align: center;
    align-items: center;
}

section h2 {
font-family: "Now Black", sans-serif;
    font-size: 2em;
    margin-top: 0em;
    margin-bottom: 1em;
    color: var(--contrast-fg-color);
}

section form{
    width: 90%;
    text-align: center;
}

#wanda{
    width: 9.125em;
    height: 9.125em;
    border-radius: 5em;
    margin-bottom: 3em;
}

#editar{
    width: 3.313em; position: absolute;
    top: 12.5em;
    right: 3.5em;
    transform: translate(50%, -50%);
}

section form h3 {
    display: block; /* para que cada label se muestre en una línea nueva */
    font-weight: bold;
    color: var(--contrast-fg-color);
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    text-align: justify;
    margin-left: 2em;
    margin-right: 1em;
    margin-bottom: -0.8em;
}

section form div input {
    width: 95%;
    height: 3em;
    padding: 0.625em;
    margin-bottom: 0.625em;
    border: 2px solid var(--verde-medio);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.58);
    color: var(--contrast-fg-color);
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    align-items: center;
}
