@import url('https://fonts.cdnfonts.com/css/lovelo');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    /* Colores genericos */
    --main-bg-color: #ffffff;
    --main-fg-color:white;
    --contrast-bg-color:white;
    --contrast-fg-color:black;
    --accent-bg-color:#fc3d93;
    --accent-fg-color:#fffffe;

    /* Colores del Menu*/
    --bg-color:var(--contrast-bg-color);
    --txt-color:var(--contrast-fg-color);
    --hover-bg:var(--accent-bg-color);
    --hover-txt:var(--accent-fg-color);
    --menu-height:4.5rem;

    /* Colores de la Web */
    --naranja:#EDA145;
    --verde-claro:#C2D9B4;
    --verde-medio:#598072;
    --verde-oscuro:#687A61;
    --marron-claro:#CC9D8F;
    --marron-oscuro:#806259;

}

.oscuro{
    --main-bg-color:black;
    --main-fg-color:white;
    --contrast-bg-color:black;
    --contrast-fg-color:white;
    --accent-bg-color:#fc3d93;
    --accent-fg-color:#fffffe;
    --verde-medio: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

html{
    scroll-behavior: smooth;
}

#encabezado{
    padding-bottom: 4.5em;
}

footer{
    padding-top: 4.5em;
}

/*  MENU    */
#main-menu{
    background-color: var(--main-bg-color);
    color: var(--contrast-fg-color);
    height: var(--menu-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.5em;
    position: fixed;
    width: 100%;

}

#main-menu ul{
    background-color: var(--main-bg-color);
    position: absolute;
    top: var(--menu-height);
    left: 0;
    width:100%;
    transform: translateY(-50%) scaleY(0) ;
    transition: .5s;
    border-radius: 0em 0em 2em 2em;

}

#main-menu.activo ul{
    transform: translateY(0) scaleY(1);
}

#main-menu .opciones_menu{
    font-family: "Now Alt Black", sans-serif;
    color: var(--verde-medio);
    font-size: 1.5em;
    padding: .5em;
    text-align: center;
    border-bottom: 2px solid var(--verde-claro);
}

.hamburguesa{
    width: 2em;
    height: 2em;
}

.hamburguesa div{
    background-color: var(--contrast-fg-color);
    width: 2em;
    height: .3em;
    margin: .3em auto;
}

#main-menu.activo .hamburguesa div:nth-child(2){
    opacity: 0;
}

#main-menu.activo .hamburguesa div:nth-child(1){
    transform: translateY(.6em) rotate(45deg);
}

#main-menu.activo .hamburguesa div:nth-child(3){
    transform: translateY(-.6em) rotate(-45deg);
}

#main-menu img {
    width: 10.5em;
    height: 4em;
    margin: 2px 0px 0px 20px;
}

#cambiarModo{
    font-family: "Now Alt Black", sans-serif;
    font-size: 1.5em;
    padding: .9em 1.5em .9em 0em;
    text-align: right;
}

#cambiarModo a{
    border-radius: 2em;
}

#perfil{
    padding-left: 6em;
}
/*  FIN MENU    */

/*  FOOTER  */
#footer{
    --bg-color:var(--contrast-bg-color);
    --txt-color:var(--contrast-fg-color);
    --hover-bg:var(--accent-bg-color);
    --hover-txt:var(--accent-fg-color);
    --menu-height:4.2rem;
}

#footer section{
    background-color: var(--bg-color);
    color: var(--txt-color);
    height: var(--menu-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:0.5em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#footer i{
    margin: 0px .5em 0px .5em;
}
/*  FIN FOOTER    */


