body{
    background-color: var(--verde-claro);

}
.usuarios{
    background-color: #D7D7D7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.625em solid #AAAAAA; /* borde de 1 píxel y estilo sólido en la parte superior */
    padding: 0.625em; /* espacio dentro de la sección */
}
.estados{
    border: 0em solid #AAAAAA; /* borde de 1 píxel y estilo sólido en la parte superior */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: .5em;
}
h1{

    font-family:"Now Alt Black", sans-serif;
    color: var(--contrast-fg-color);
    font-size: 1.5625em;
    text-align: center; /* centra horizontalmente el contenido */
    margin: 1em;
}
section h2{
    font-family: "Montserrat", sans-serif;
}
h2{
    font-family: "Montserrat", sans-serif;
    color: #598072;
    font-size: 1em;
}
.estado {
    font-weight: bold;
}
.estado.online {
    color: green;
}
.estado.offline {
    color: red;
}
h3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    font-family: "Montserrat", sans-serif;;
    font-size: 1.25em;
    background-color: white;
    border-top: 1px solid white; /* borde de 1 píxel y estilo sólido en la parte superior */
    border-bottom: 1px solid white; /* borde de 1 píxel y estilo sólido en la parte inferior */
    padding: 5px; /* espacio dentro de la sección */
    border-radius: 0.625em;
    text-align: center; /* centra horizontalmente el contenido */
    line-height: 1; /* centra verticalmente el contenido */
}
img{
    width: 3.5em;
    height: 3.875em;
    border-radius: 0.625em;
}
a{
    margin-left: 1em;
}

.menu_paginacion{
    background-color: var(--marron-claro);
    max-width: 250px;
    margin: 0 auto;
    margin-top: 1em;
    border-radius: 0.625em;
}
.menu_paginacion ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
.menu_paginacion ul li{
    flex: 1 1 1em;
    text-align: center;
}
.menu_paginacion ul li a{
    color: white;
    padding: 1rem;
    text-decoration: none;
    display: block;
    text-align-all: center;
}
.menu_paginacion ul li a:hover{
    background: rgba(108, 109, 106, 0.64);
}
@media (max-width: 90px) {
    .menu_paginacion ul{
        flex-direction: column;
    }
    .menu_paginacion ul a{
        text-align: center;
    }
}
.search-box {
    background-color: #D7D7D7; /* Color de fondo gris */
    display: flex;
    align-items: flex-end; /* Alinear verticalmente el contenido */
    justify-content: space-between; /* Alinear el contenido a la izquierda y derecha */
    padding: 10px; /* Añadir un poco de espacio alrededor del contenido */
    margin-bottom: 0; height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 50%;
    border: 1px solid gray;
    margin-left: auto;
}