body{
    background-color: var(--marron-oscuro);
    color: var(--main-fg-color);
}

h1{
    font-family: "Now Alt", sans-serif;
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: .5em;
}

.container{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2em 1.5rem 5rem 1.5rem;
    z-index: 1;
}

.accordion{
    padding-top: 2em;
}

.accordion-item{
    background-color: #806259;
}

.accordion-item hr{
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.accordion-link{
    font-size: 1.6rem;
    color: rgba(255,255,255,.8);
    text-decoration: none;
    background-color: #806259;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.accordion-link h3{
    font-family: "Now Alt Black", sans-serif;
    font-weight:500;
    font-size: 18px;
    color: white;
}

.accordion-link div{
    display: flex;
}

.accordion-link .ion-md-arrow-down{
    display: none;
}

.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;

    transition: max-height 650ms;
}

.answer p{
    color: #fff;
    font-size: 15px;
    padding-bottom: 2em;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Montserrat", sans-serif;
}

.accordion-item:target .answer{
    max-height: 20rem;
}

.accordion-item:target .accordion-link .ion-md-arrow-forward{
    display: none
}

.accordion-item:target .accordion-link .ion-md-arrow-down{
    display: block;
}

header{
    z-index: 2;
    position: fixed;
}

footer{
    z-index: 2;
    position: fixed;
}

