
#footer{
    --bg-color:var(--contrast-bg-color);
    --txt-color:var(--contrast-fg-color);
    --hover-bg:var(--accent-bg-color);
    --hover-txt:var(--accent-fg-color);
    --menu-height:4.2rem;
}

#footer section{
    background-color: var(--bg-color);
    color: var(--txt-color);
    height: var(--menu-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:0.5em;
    position: fixed;
    width: 100%;
    bottom: 0;
}
#footer i{
    margin: 0px .5em 0px .5em;
}



